<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qmc.shuaandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:name=".base.ShuaApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/filepath"
            />
        </provider>
        <activity android:name=".ui.activity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.AgentWebActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.LoginRegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MineIntegralActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RankListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MineCollectActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MineShareActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>